#show{display:none}#massg{display:none}#showrangeses{display:none}#viewsprice{display:none}.hidandshow{display:none}footer {background-color: #10002c;color: #ffffff; width: 100vw;margin-top: auto;height: 3rem;}footer p{text-transform: capitalize;line-height: 3rem;text-align: center;}ul {background: #000000;display: none;}ul li {background: #cce5ff;margin: 5px;}#rcal{display: none;}#fatchedview{overflow: scroll;}
  


